asn1crypto==1.4.0
attrs==21.2.0
cbor2==5.4.2
certifi==2021.10.8
certvalidator==0.11.1
cffi==1.15.0
charset-normalizer==2.0.8
cose==0.9.dev8
cryptography==36.0.0
Cython==0.29.24
docutils==0.18.1
ecdsa==0.17.0
idna==3.3
Kivy==2.0.0
Kivy-Garden==0.1.4
kivy-garden.xcamera==2020.613
kivy-garden.zbarcam==2020.524
kivymd==0.104.2
numpy==1.21.4
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
oscrypto==1.2.1
Pillow==8.4.0
pycparser==2.21
Pygments==2.10.0
pyobjc-framework-AppleScriptKit==8.0
pyobjc-framework-Automator==8.0
pyobjc-framework-DiscRecordingUI==8.0
pyobjc-framework-DiskArbitration==8.0
pyobjc-framework-DVDPlayback==8.0
pyobjc-framework-ExceptionHandling==8.0
pyobjc-framework-InstallerPlugins==8.0
pyobjc-framework-LatentSemanticMapping==8.0
pyobjc-framework-LaunchServices==8.0
pyobjc-framework-OSAKit==8.0
pyobjc-framework-PreferencePanes==8.0
pyobjc-framework-SearchKit==8.0
pyobjc-framework-SecurityFoundation==8.0
python-dateutil==2.8.2
pyttsx3==2.90
pyzbar==0.1.8
requests==2.26.0
six==1.16.0
urllib3==1.26.7
xcamera==2020.613
zbarcam==2020.524
